/* Universal styles */
.col-md-10{
    background-color: white;
}
.bar {
    background-color: #fbfbf8;
    margin: 0%;
}

/* header all pages */

.header h1 {
    font-family: "Karla";
    text-align: center;
    padding: 25px 0px;
}

.links {
    text-align: center;
}

/* homepage scrolling image view */
.image_view img {
    margin: 35px;
    height: 89vh;
    width: 60vw;
}


.scrollmenu::-webkit-scrollbar {
    display: none;
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
  
div.scrollmenu .image_view {
    display: inline-block;
    color: white;
}
  

/* aboute page */

.about_page h1 {
    padding: 25px;
    text-align: center;
    font-family: "Karla";
}
.about_page p {
    padding: 0px 100px;
    text-align: center;
    font-family: "Roboto";
}

.carousel_section {
    margin: 0px 90px;
    background-color: #c0d2cc;
    border-radius: 8px;
    padding: 48px 0 50px 0;
}

.name{
    font-size: 22px;
    color: black;
    font-weight: 500;
    padding-left: 15px;
    position: absolute;
    bottom: 10%;
    left: 16px;
    background-color: rgba(255, 255, 255, 0.836);
    width: 90%;
}
.title {
    font-size: 18px;
    color: black;
    font-weight: 500;
    padding-left: 25px;
    position: absolute;
    bottom: 3%;
    left: 16px;
    background-color:rgba(255, 255, 255, 0.836);
    width: 90%;
}


.carousel-control-next{
    right: 43%;
    top: 101%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.carousel-control-prev{
    left: 43%;
    top: 101%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.slide_prev, .slide_next{
    height: 70px;
}

/* contact page */
.address h5 {
    text-align: center;
}

.address address {
    text-align: center;
    font-style: italic;
}

a, a:hover {
    color: black;
}
.contact_page {
    padding: 25px;
    height: 100vh;
}