/* Universal styles */
.col-md-10{
    background-color: white;
}
.bar {
    background-color: #fbfbf8;
    margin: 0%;
}

/* header all pages */


.header h1 {
    font-family: "Karla";
    text-align: center;
    padding: 25px 0px;
}

.links {
    text-align: center;
}

/* homepage scrolling image view */
.image_view img {
    margin: 35px;
    height: 89vh;
    width: 60vw;
}


.scrollmenu::-webkit-scrollbar {
    display: none;
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}
  
div.scrollmenu .image_view {
    display: inline-block;
    color: white;
}
  

/* aboute page */

.about_page h1 {
    padding: 25px;
    text-align: center;
    font-family: "Karla";
}
.about_page > p {
    padding: 0px 100px;
    text-align: center;
    font-family: "Roboto";
}

.carousel_section {
    margin: 0px 90px;
    background-color: white;
    border-radius: 8px;
    padding: 48px 30px 50px 20px;
    border: 1px solid black;
}

.name{
    font-size: 22px;
    color: black;
    font-weight: 500;
    padding-left: 15px;
    position: absolute;
    bottom: 10%;
    left: 16px;
    background-color: rgba(255, 255, 255, 0.836);
    width: 90%;
}
.title {
    font-size: 18px;
    color: black;
    font-weight: 500;
    padding-left: 25px;
    position: absolute;
    bottom: 3%;
    left: 16px;
    background-color:rgba(255, 255, 255, 0.836);
    width: 90%;
}


.carousel-control-next{
    right: 43%;
    top: 101%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.carousel-control-prev{
    left: 43%;
    top: 101%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.slide_prev, .slide_next{
    height: 70px;
}

/* contact page */
.address h5 {
    text-align: center;
}

.address address {
    text-align: center;
    font-style: italic;
}

a, a:hover {
    color: black;
}
.contact_page {
    padding: 25px;
    height: 100vh;
}
.input_fields {
    width: 50%;
}

/*----------------Small Size Devices----------------*/
@media (min-device-width: 251px) and (max-device-width: 320px) {
    .horizontal_nav, .about_carousel_desk {
        display: none;
    }
    .image_view img {
        margin: 10px;
        height: 300px;
        width: 270px;
    }
    #scroll_menu{
        padding-top: 100px;
    }
    .about_page h1 {
        padding: 5px;
        text-align: center;
        font-family: "Karla";
    }
    .about_page p {
        padding: 0px 10px;
        text-align: center;
        font-family: "Roboto";
    }
    .carousel_section {
        margin: 0px;
    }
    .input_fields {
        width: 100%;
    }
    
    .model_card {
        width: 235px;
    }
}


/*----------------Medium Size Devices----------------*/
@media (min-device-width: 321px) and (max-device-width: 375px) {
    .horizontal_nav, .about_carousel_desk {
        display: none;
    }
    .image_view img {
        margin: 10px;
        height: 360px;
        width: 325px;
    }
    #scroll_menu{
        padding-top: 100px;
    }
    .about_page h1 {
        padding: 5px;
        text-align: center;
        font-family: "Karla";
    }
    .about_page p {
        padding: 0px 10px;
        text-align: center;
        font-family: "Roboto";
    }
    .carousel_section {
        margin: 0px;
    }
    
    .input_fields {
        width: 100%;
    }
    .model_card {
        width: 235px;
    }
}


/*----------------Large Size Devices----------------*/
@media (min-device-width: 376px) and (max-device-width: 425px) {
    .horizontal_nav, .about_carousel_desk {
        display: none;
    }
    .image_view img {
        margin: 10px;
        height: 395px;
        width: 375px;
    }
    #scroll_menu{
        padding-top: 100px;
    }
    .about_page h1 {
        padding: 5px;
        text-align: center;
        font-family: "Karla";
    }
    .about_page p {
        padding: 0px 10px;
        text-align: center;
        font-family: "Roboto";
    }
    .carousel_section {
        margin: 0px;
    }
        
    .input_fields {
        width: 100%;
    }
    .model_card {
        width: 290px;
    }
}


/*----------------Tablet Size Devices----------------*/
@media (min-device-width: 426px) and (max-device-width: 768px) {
    .mobile_nav, .about_carousel_moba {
        display: none;
    }
    .carousel_section {
        margin: 0px;
    }
        
    .input_fields {
        width: 75%;
    }
}

@media (min-device-width: 1024px) {
    .mobile_nav, .about_carousel_moba {
        display: none;
    }
    .model_card {
        width: 21rem; 
        position: relative;
    }
}